<div>
  <h1 class="text-center">Customer Records Database</h1>
  <br />
  <table class="table table-striped main-table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th class="text-center">Details</th>
    </tr>
    <tr *ngFor="let c of customers">
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.age}}</td>
      <td class="text-center"><a class="btn btn-default btn-primary" id="fill slug" role="button" (click)="setSlug(c.slug)">View Info</a></td>
    </tr>
  </table>
</div>
